# LLM API keys
# You can choose to use any of the following LLMs.
# Make sure to set the corresponding API keys for the ones you want to use.
# OPENAI_API_KEY=<YOUR_OPENAI_API_KEY> # for CustomChatOpenAI
# REPLICATE_API_TOKEN=<YOUR_REPLICATE_API_TOKEN> # for CustomChatLlamaReplicate
# HF_TOKEN=<YOUR_HF_TOKEN> # for CustomChatHuggingFace. This is the default chat in Oncobot.
# GROQ_API_KEY=<YOUR_GROQ_API_KEY> # for CustomChatGroq

# Port for the FastAPI server to listen on
PORT=8080
